%h2 Meet the Students
Find:
%ul
  %li
    %a{href: "#student-phil"} Phil Pham
  %li
    %a{href: "#student-patti"} Patti Lavallee
  %li
    %a{href: "#student-faye"} Faye Purdum
  %li
    %a{href: "#student-neilson"} Neilson Maknarakham
  %li
    %a{href: "#student-william"} William Clifford
  %li
    %a{href: "#student-cris"} Cris Kelly
  %li
    %a{href: "#student-cole"} Cole Reed

#student-phil.student
  %img{src: "#"}
  %h3 Phil Pham
  %a{src: "http://phamlabs.com"}
    %strong Portfolio
  %a{src: "http://github.com/Phil0xF7"}
    %strong Github
  %p Ever since the age of 13, when he convinced his mom to buy him a Tandy, Phillip has been hooked on technology.  His most recent professional adventure was working on a SaaS Operations team and using his skills to tame the Cloud with automation, monitoring, and metrics.  He is currently a student of the Portland Code School and can be found hacking away on various projects and attending many of the tech meetups around town.
  %a{src: "#top"} Back to top

#student-patti.student
  %img{src: "#"}
  %h3 Patti Lavallee
  %a{src: "http://lavapj.github.com/"}
    %strong Portfolio
  %a{src: "https://github.com/lavapj"}
    %strong Github
  %p Patti has a professional background in web/graphic design and is excited to be making a career shift to web development. Her experience learning to code at Portland Code School has been extremely empowering. Patti hopes that she can make a positive impact on the world through technology. She has a tendency to wander into deep thought about cool new ideas for web applications such as the Freecycle Map project.
  %a{src: "#top"} Back to top

#student-faye.student
  %img{src: "#"}
  %h3 Faye Purdum
  %a{src: "http://fayeishere.github.com"}
    %strong Portfolio
  %a{src: "https://github.com/fayeishere"}
    %strong Github
  It's with little surprise that the daughter of an artist and a police officer focuses her time creating worlds and interactions that question process, politics and sustainability. When she's not coding for change, you can find her producing an audio drama and animation series.
  %a{src: "#top"} Back to top

#student-neilson.student
  %img{src: "#"}
  %h3 Neilson Maknarakham
  %a{src: "http://neilmakn.github.com/"}
    %strong Portfolio
  %a{src: "https://github.com/NeilMakn"}
    %strong Github
  Neilson is a product of the Portland Code School. He is a young gun in the world of web development. He enjoys fantasy sports, real sports, board games, A Game of Thrones, and Sunshine Tavern when not coding.
  %a{src: "#top"} Back to top

#student-william.student
  %img{src: "#"}
  %h3 William Clifford
  %a{src: "http://wobh.github.com/"}
    %strong Portfolio
  %a{:href => "https://github.com/wobh"}
    %strong Github
  Will spent many years in customer service and in technical support where he developed his communication and collaboration skills. He was also an
  amateur programmer and has taught himself the basics of several computer languages. In December, he decided to dive deeper into web development with the Portland Code School. Will is looking forward to working with a fantastic Portland dev team.
  %a{src: "#top"} Back to top

#student-cris.student
  %img{src: "#"}
  %h3 Cris Kelly
  %a{src: "http://criskelly.github.com/"}
    %strong Portfolio
  %a{src: "https://github.com/criskelly"}
    %strong Github
  Originally from the glaciated tundra of Minnesota, Cris moved to Portland in 2008. After spending 15 years in the field of outdoor education -- being an adventure guide, science instructor, and challenge course facilitator -- he's making a career change to the digital world. With a wife and a 3.5 year old boy, Cris squeezes his other passions - songwriting and board game design - into his rare spare time.
  %a{src: "#top"} Back to top

#student-cole.student
  %img{src: "#"}
  %h3 Cole Reed
  %a{src: "ichabodcole.github.com"}
    %strong Portfolio
  %a{src: "https://github.com/ichabodcole"}
    %strong Github
  Cole is a creative problem solver, with a background in illustration and a foreground in interactive UIs and motion design. You might find him designing a product through rapid prototyping, mocking up UIs in javascript, or doing motion tests in After Effects. He includes a wicked sense of humor and a love of toys, games and pretty much anything handmade.
  %a{src: "#top"} Back to top