@import "bourbon/bourbon";
@import "modules/mixins.css.scss";

#page-program {
  table th {
    background-color: transparent;
    border-color: transparent;
  }
}

#page-students {
  .student {
    margin-bottom: 30px;

    img {
      width: 250px;
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    a {
      display: block;
    }
    h3, a, p {
      margin-left: 280px;
    }
  }
}