//Imports
@import "bourbon";
@import "modules/mixins.css.scss";
@import "modules/grid.css.scss";


/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media only screen and (min-width: 20em) and (max-width: 30em) {
  html body {
    @include box-sizing(border-box);
    font-size: em(16);
    width: 100%;
    .wrapper {
      margin: 0 auto;
      width: 90%;
      .site_nav ul {
        margin: 0;
        li {
          padding: 0 0.46em;
        }
      }
    }
  }

  .intro .wrapper {
    h2 {
      font-size: em(18); //18px
    }
    p {
      @include no-space;
    } 
  }

  article {
    @include clearfix;
    @include no-float;
    display: block;
    width: 100%;
    &.last {
      @include no-float;
    }
  }

  .page {
    h2 {
      font-size: em(18);
    }
    h3 {
      font-size: em(16);
    }
  }

  .badge {
    img {
      width: 100%;
      height: auto;
    }
  }
  //Typography
  p,ul,td,th{
    font-size: em(14);
  }
  ul ul{
    font-size: em(16);
  }
  h1{
    font-size: em(28);
  }
  #homepage #sponsors {
    h2 {
      padding-top: 20px;
      text-align: center;
    }
    .image-row {
      text-align: center;
      a {
        margin: 0 auto;
      }
    }
  }
}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 30.5em) and (max-width: 57em) {

  //Typography
  p,ul,td,th{
    font-size: ($font-size - 2) / $em;
  }
  ul ul{
    font-size: 1em;
  }
  h1{
    font-size: ($font-size + 30) / $em;
  }
  h2{
    font-size: ($font-size + 3) / $em;
  }
  //Grid
  #container, #wrapper{
    @include width(8);
    margin: 0 auto;
  }
  .left-col{
    @include width(4);
    float: left;
    margin-right: $gutter;
  }
  .right-col{
    @include width(4);
    float: right;
  }
  .full-width, .readable-width{
    @include width(8);
    clear: both;
  }
  .third-col{
    @include width(4);
    float: left;
  }
  .third-col.first {
    margin-right: $gutter;
  }
  .third-col.last{
    @include width(8);
    clear: both;
  }
  .sixth-col{
    @include width(2);
    float: left;
  }
  #cta {
    padding: 12px 24px;
    position: relative;
    left: -24px;
  }
  #menu ul{
    background-color: $highlight-color;
    margin-top: 15px;
    padding: 8px;
    position: relative;
    left: -40px;
    width: 585px;
  }
  #menu ul li a{
    font-size: ($font-size + 3) / $em;
  }
  #homepage #sponsors {
    h2 {
      padding-top: 20px;
      text-align: center;
    }
    .image-row {
      margin-left: $cols4;
    }
  }
}
/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
@media only screen and (min-width: 57em) {

  //Typography
  p {
    font-size: ($font-size) / $em;
  }
  h1{
    font-size: ($font-size + 50) / $em;
  }
  h2{
    font-size: ($font-size + 10) / $em;
  }

  h2{
    border-bottom: 1px dashed $title-color;
    color: $title-color;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  header img{
  /*float: left;
    padding-top: 8px;
    padding-left: 15px;*/
  }
  #menu ul{
    background-color: $highlight-color;
    margin-top: 40px;
    padding: 8px;
    position: relative;
    left: -40px;
    width: 875px;
  }
  #menu ul li.first{
    margin-left: 24px;
  }
  #menu ul li{
    margin-right: 36px;
  }
  #intro p {
    padding: 0 100px;
  }
  #cta {
    border: 2px solid $bg-color;
    -moz-box-shadow:4px 4px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 4px 4px 7px rgba(33,33,33,.7);
    box-shadow: 4px 4px 7px rgba(33,33,33,.7);
    margin: 1em auto 3em;
    padding: 24px 36px;
    width: 700px;
    .left-col, .right-col {
      width: 21em;
    }
    h2 {
      margin-bottom: 0.5em;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0.75em;
    }
    p {
      margin-bottom: 0.5em;
    }
    .apply {
      margin-top: 1.5em;
    }
  }
  footer {
    border-top: 5px solid $highlight-color;
    position: relative;
    left: -24px;
    margin-top: 40px;
    padding: 8px;
    width: 875px;
  }

  article {
    @include clearfix;
    @include left;
    margin: no-space;
    width: 31.25%;
    &.last {
      @include right;
      margin-right: 0;
    }
  }

  footer {
    @include clearfix;
    section {
      @include clearfix;
      margin: 0 auto;
      width: 90%;
    }
    div {
      @include left;
      width: 31.25%;
      &.last {
        @include right;
      }
    }
  }
  

  #homepage #sponsors {
    .image-row {
      margin-left: 16.5em;
    }
    padding-top: 10px;
    .third-col {
      margin: 0 auto;
      text-align: center;
    }
    #crowdcompass a {
      top: 9px;
    }
    #elemental a {
      top: -3px;
    }
  }
}