//Imports
@import "bourbon";
@import "modules/mixins.css.scss";
@import "modules/grid.css.scss";


/*
  min-width 320px and max-width 480px
*/
@media only screen and (min-width: 20em) and (max-width: 34.375em) {
  html body {
    @include box-sizing(border-box);
    font-size: em(16);
    width: 100%;
    .site_nav {
     float: none;
        ul {
        margin: em(10) 0;
        li {
          background: $orange;
          border-bottom: 1px solid rgba( 255, 255, 255, 0.4);
          display: block;
          float: none;
          font-size: em(20);
          padding: 0 0.46em;
          a {
            color: $white;
            &.button {
              @include no-space;
              &:hover {
                background: none;
              }
            }
          }
        }
      }
    }
  }

  header {
    position: static;
  }
  .intro, .content {
    margin-top: 0;
  }

  h1 div {
    font-size: em(12);
  }
  footer.foot {
    div {
      margin-bottom: 20px;
    }
    .centered {
      text-align: left;
    }
  }
  .width {
    margin-bottom: em(30);
    h2 {
      margin-top: 0;
      padding-top: 0;
    }
    p {
      @include no-space;
    }
  }
  .intro .width h2 {
    padding-top: em(60);
  }

  .intro p {
    font-size: em(14);
  }

  .accolades .quote {
      @include left;
      width: 60%;
    }

  article {
    @include clearfix;
    @include no-float;
    display: block;
    width: 100%;
    &.last {
      @include no-float;
    }
  }

  .page {
    margin-top: 0;
    h2 {
      font-size: em(18);
    }
    h3 {
      font-size: em(16);
    }
  }

  .badge {
    img {
      width: 100%;
      height: auto;
    }
  }

  footer.foot section {
    width: 70%;
  }

  //Typography
  p,ul,td,th{
    font-size: em(14);
  }
  ul ul{
    font-size: em(16);
  }
  h1{
    font-size: em(28);
  }
  #homepage #sponsors {
    h2 {
      padding-top: 20px;
      text-align: center;
    }
    .image-row {
      text-align: center;
      a {
        margin: 0 auto;
      }
    }
  }
}

/*
  min-width 550px and max-width 1300px
*/

@media screen and (min-width: 34.375em) and (max-width: 88.564em) {

  .site_nav {
    float: none;
    clear: both;
    ul {
      margin: em(15) 0;
    }
  }

  .picture {
    @include left;
    margin-right: 10px;
    width: 10%;
    img {
      width: 100%;
      height: auto;
    }
  }

  div.page {
    margin-top: em(170);
  }

  .foot div {
    @include left;
    width: 30%;
    &:first-child {
      width: 40%;
    }
    &.last {
      @include right;
      text-align: right;
    }
    #social_row {
      @include right;
    }
  }
  .width {
    margin-bottom: em(30);
    h2 {
      margin-top: 0;
      padding-top: 0;
    }
  }
  .intro .width h2 {
    padding-top: em(60);
  }
  .accolades .quote {
    @include left;
    width: 20%;
  }

  #cta {
    padding: 12px 24px;
    position: relative;
    left: -24px;
  }
  #menu ul{
    background-color: $highlight-color;
    margin-top: 15px;
    padding: 8px;
    position: relative;
    left: -40px;
    width: 585px;
  }
  #menu ul li a{
    font-size: ($font-size + 3) / $em;
  }
  #homepage #sponsors {
    h2 {
      padding-top: 20px;
      text-align: center;
    }
    .image-row {
      margin-left: $cols4;
    }
  }
}

//Typography
p,ul,td,th {
  font-size: em(16);
}

ul ul {
  font-size: 1em;
}
h1 {
  font-size: em(46);
}
h2{
  border-bottom: 1px dashed $title-color;
  color: $orange;
  display: block;
  margin-top: em(30);
  margin-bottom: em(30);
  padding-top: em(20);
  text-align: center;
}
.tan, .orange {
  margin-top: em(30);
  margin-bottom: em(30);
  padding: em(30) 0;
  .width {
    margin-bottom: 0;
  }
}
/*
  max-width 1150px
*/
@media only screen and (min-width: 88.564em) {

  //Typography
  p {
    font-size: em(16);
  }
  h1{
    font-size: em(66);
  }
  h2{
    font-size: em(26);
  }
  h3 {
    margin-top: 1.25em;
  }

  .intro .width h2{
    border-bottom: 1px dashed $title-color;
    color: $orange;
    display: block;
    font-family: "Weston-Free";
    font-size: em(40);
    margin-top: em(20);
    margin-bottom: em(20);
    padding-top: em(30);
    text-align: center;
  }

  header > div {
    float: left;
    margin-right: 40%;
  }
  .site_nav {
    float: left;
    padding: em(50) 0 0 0;
  }

  header img{
  /*float: left;
    padding-top: 8px;
    padding-left: 15px;*/
  }
  #menu ul{
    background-color: $highlight-color;
    margin-top: 40px;
    padding: 8px;
    position: relative;
    left: -40px;
    width: 875px;
  }
  #menu ul li.first{
    margin-left: 24px;
  }
  #menu ul li{
    margin-right: 36px;
  }
  #intro p {
    padding: 0 100px;
  }
  #cta {
    border: 2px solid $bg-color;
    -moz-box-shadow:4px 4px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 4px 4px 7px rgba(33,33,33,.7);
    box-shadow: 4px 4px 7px rgba(33,33,33,.7);
    margin: 1em auto 3em;
    padding: 24px 36px;
    width: 700px;
    .left-col, .right-col {
      width: 21em;
    }
    h2 {
      margin-bottom: 0.5em;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0.75em;
    }
    p {
      margin-bottom: 0.5em;
    }
    .apply {
      margin-top: 1.5em;
    }
  }

  .quote {
      font-size: em(14);
      width: 100%;
    }

  article {
    @include clearfix;
    @include left;
    @include no-space;
    margin-bottom: em(32);
    width: 33.25%;
    &.last {
      @include left;
      margin-right: 0;
    }
  }

  .width {
    width: 70%;
    margin: 0 auto;
    margin-bottom: em(30);
    h2 {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .white-background {
    width: 30%;
    text-align: center;
  }

  footer {
    @include clearfix;
    border-top: 5px solid $highlight-color;
    position: relative;
    left: -24px;
    margin-top: 40px;
    padding: 8px;
    width: 875px;

    section {
      @include clearfix;
      margin: 0 auto;
      width: 95%;
    }

    div {
      @include left;
      width: 33%;
      &.last {
        @include right;
        text-align: right;
      }
      #social_row {
        @include right;
      }
    }
  }


  #homepage #sponsors {
    .image-row {
      margin-left: 16.5em;
    }
    padding-top: 10px;
    .third-col {
      margin: 0 auto;
      text-align: center;
    }
    #crowdcompass a {
      top: 9px;
    }
    #elemental a {
      top: -3px;
    }
  }
}