//Imports
@import "bourbon/bourbon";
@import "modules/mixins.css.scss";
@import "modules/grid.css.scss";


/* min-width 320px and max-width 480px */
@media only screen and (min-width: 20em) and (max-width: 34.375em) {

}

/* min-width 640px */
@media only screen and (min-width: 40em) {
  .logo {
    width: 50%;
    float: left;
  }
  .site_nav {
    float: right;
    width: 45%;
    margin-top: 3%;
    margin-right: 2%;
    padding-right: 0;
    ul {
      li {
        display: inline;
        background-color: transparent;
        line-height: 2em;
        a {
          color: black;
          &:hover {
            color: $lightblue;
          }
          &.button {
            @include no-space;
            background: $orange; 
            color: white;
            padding: 2% !important;
            &:hover {
              color: white;
            }  
          }
        }
      }
    }
  }
  .intro {
    .width{
      width: 70%;
    }
    h2 {
      font-size: em(30);
    }
    p {
      font-size: em(18);
    }
  }
  .call-to-action {
    .button {
      padding: 2% 10%;
    }
  }
}

/* min-width 930px */
@media only screen and (min-width: 58.125em) {
  .site_nav {
    margin-top: 2%;
  }
  .statements {
    padding-top: 7%;
  }
  .accolades {
    article {
      margin-top: 5%;
      margin-bottom: 4%;
      display: inline-block;
      vertical-align: top;
      padding: 0 2%;
      width: 28%;
    }
  .img_wrap {
    width: 40%;
  }
    .meta {
      width: 100%;
      float: none;
      margin-top: 4%;
      text-align: left;
    }
  } 

  .stakeholders {
    article {
      display: inline-block;
      margin: 0 auto;
      padding: 0 2%;
      vertical-align: top;
      width: 45%;
    }
  }

  .call-to-action, .page .call-to-action {
    .button {
      padding: 2% 13%;
    }
  }

  footer, .foot {
    padding: 2% 0;

    section {
      div {
        width: 32.5%;
        vertical-align: top;
        display: inline-block;

        form {
          padding-left: 0;
        }

        #social_row {
          width: 100%;
        }
      }
    }
  }
}

/* min-width 990px */
@media only screen and (min-width: 61.875em) {
  .logo {
    width: 35%;
  }
  .site_nav {
    width: 61%;
    text-align: right;

    ul {
      li {
        padding: 1% 2.5%;
      }
    }
  }

  .accolades {
    .img_wrap {
      margin: 0 26% 6%;
      width: 100%;
      float: none;
    }
    .quote {
      clear: left;
    }
  }

  .engagement div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 1% 4%;
  }
}
