//Imports
@import "bourbon";
@import "modules/mixins.css.scss";
@import "modules/grid.css.scss";
@import "modules/normalize.css";


//Grid
header{
  margin-right: auto;
  margin-left: auto;
  position: relative;
  line-height: 1;
}
header a{
  text-decoration: none;
}
body{
  background: $bg-color;
  color: $text-color;
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  height: 100%;
  line-height: 1.5;
}
.menu ul{
  margin-left: 15px;
  text-align: center;
  width: 100%;
}
.menu li{
  margin-right: 12px;
  list-style: none;
  display: inline-block;
}
.menu li a{
  color: white;
  font-weight: normal;
  font-size: ($font-size + 8) / $em;
  text-decoration: none;
  text-shadow: 0px 2px 0px $title-color;
}
.menu li a:hover{
  text-shadow: 1px 3px 1px $title-color;
}
.wrapper{
  background-color: $main-bg-color;
  border-right: 4px $highlight-color solid;
  border-left: 4px $highlight-color solid;
  box-shadow: 0px -5px 10px #666;
  min-height: 100%;
  padding: 24px;
}
h1{
  color: $title-color;
  display: block;
  filter: dropshadow(color=$highlight-color, offx=0, offy=1);
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  margin-top: 0px;
  padding-top: 10px;
  text-shadow: 0px 2px 1px $highlight-color;
  width: 100%;
}
h2, h3, h4, h5, h6 {
  color: $title-color;
  font-family: 'ABeeZee', sans-serif;
  font-weight: lighter;
  margin-top: 10px;
}
h3 {
  color: $highlight-color;
}
header p, .intro p{
  font-style: italic;
  text-align: justify;
}
header img{
  width:100%;
/*  margin-right: 16px;*/
}
footer {
  text-align: center;
  input {
    margin-bottom: 8px;
    width: 73%;
  }
  .button {
    width: 75%;
  }
  h2 {
    border-bottom: 0;
    margin-bottom: 16px;
  }
  #bottom-links ul {
    list-style: none;
    margin: 0;
  }
}
a, a:visited{
  color: $link-color;
}
a:hover{
  color: $link-color;
}
a.disabled {
  color: #ccc;
}
ul{
  margin-bottom: 1em;
  ul {
    margin-bottom: 0;
  }
}
li{
  margin-top: 0.25em;
}
p{
  line-height: 1.5em;
  margin-bottom: .75em;
}
hr{
  border-top:none;
  border-bottom: 1px solid $title-color;
  margin-bottom: 1em;
}
h2{
  margin-bottom: 6px / $em;
}
h3{
  margin-bottom: 6px / $em;
}
table {
  border-top: 1px solid $highlight-color;
  border-left: 1px solid $highlight-color;
  color: $title-color;
  width: 100%;
  a, a:visited{
    color: $title-color;
  }
  a:hover{
    color: $title-color;
  }
  tr {
    border-bottom: 1px solid $highlight-color;
  }
  tr:nth-child(odd) td {
    background-color: lighten($bg-color, 30%);
  }
  td, th {
    border-right: 1px solid $highlight-color;
    padding: 8px;
  }
  th {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: left;
    padding-bottom: 4px;
  }
}
.right-col, .left-col{
  margin-bottom: 10px;
}
.right{
  float: right;
  padding-bottom: 20px;
  padding-left: 20px;
}
.left{
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.button, a.button{
  background-color: $highlight-color;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px #ccc;
  color: white;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: 5px;
  text-decoration: none;
  width: 50%;
  text-align: center;
}
.image-row .sixth-col, .image-row .third-col {
  text-align: center;
}
.image-row a{
  line-height: 100px;
  position: relative;
  img{
    max-height: 98px;
    vertical-align: middle;
  }
}

