- @title = "Portland Code School - About Us"
- @body_id = "about"
- @meta_description = "Portland Code School students learn from experienced programmers, develop the skills needed to join a leading tech company, and have direct access to local sponsoring companies interested in hiring new developers."

.page
  %section.width
    %h2 About Us
    %p Portland Code School students learn from experienced programmers, develop the skills needed to join a leading tech company, and have direct access to local sponsoring companies interested in hiring new developers.
    %p There is a huge and rapidly growing demand for able-minded programmers who are not only capable of skillful programming, but also skillful at communicating with clients and peers. Tech shops cannot exist with single-faceted programmers alone; the most valuable programmers are those that easily interact with clients and produce outstanding quality code.

  .tan
    %section.width
      %h2 Our Mission
      %p To teach passionate, smart, creative people the skills they need to be competent, well-rounded programmers, able to excel in a web development career and to provide ongoing professional development opportunities to all programmers.

  %section.width
    %h2 Our Vision
    %p We believe in Portland, its heart, energy, enthusiasm, kindness, and sincerity, and we believe that Portland is going to be the center of an artistic digital revolution and a hub for all the creative passionate artists in the world why ply their trade on the digital canvas. As the leader in web development education in Portland, we provide a way for people to realize their dreams and pay their rent.

    We believe there is a space for small companies and wild hares. We support their efforts by building relationships between companies and communities and by training developers that are capable of realizing their employer's visions and adding their own to the canvas.

    We believe in the power of community to bring people together and make anything possible.We create communities that are welcoming to everyone including women, low income individuals, and those that are often at a disadvantage in technology. We create communities that hum with energy and passion.

    We believe the education system has failed to educate the public about web development. We are a world class model for teaching the latest, cutting edge web development technologies; it is through our partnerships that we transform the way web development is taught and how employers support and educate new developers.

    We believe Portland is an oasis for tech companies and one of the best places to work in the world. Like Portland, we are an oasis for learning web development and we are the best code school. 
    /
      <h2>Our Values</h2>
      <ul>
      <li><strong>Creativity and fun ● </strong>We embody a creative, playful, welcoming environment.</li>
      <li><strong>Professionalism & the Highest Quality Coders ● </strong>We are competent hard-working professionals who value a healthy work-life balance. Our instructors are experienced senior developers with a wide range of skills, knowledge of current technologies, and passion for teaching. We hold ourselves and our students to the highest standards, insisting on nothing less than excellence.</li>
      <li><strong>Equity and Opportunity ● </strong>We firmly believe in equity of access and strive to provide opportunity and support to women and others who have experienced disadvantage in this industry.</li>
      <li><strong>Community ●</strong>  We depend on our community for support and we are deeply committed to always repaying the communities we draw from. We understand that some of the most valuable learning happens in communities. We are dedicated to fostering supportive, engaged, welcoming and safe communities in the virtual and the physical world.</li>
      <li><strong>Collaborative ● </strong>  We value collaboration over competition; when our partners and peers are stronger, everyone is stronger.
      <li><strong>Real-World, Hands-on, Experiential Education ● </strong> We believe education should be inspiring and exciting but also practical and based on real-world marketable skills. We teach students using Agile methodologies and emphasize the importance of using the right tools for the job and understanding the value and strengths of different languages and technologies. </li>
      <li><strong>Flexible and Adaptable ● </strong>Because the world of web development is a constantly evolving field, we place the highest priority on paying attention to the job market and the skills our partner employers are seeking to ensure the success of our graduates. </li>
      <li><strong>Living Wages & Employment for Oregon ●</strong>We live in a global economy but our heart is in Oregon and our intention is to support the creation of jobs in Oregon by empowering Oregonians (recent and long-time residents alike) to be the most skillful, most bad-ass programmers around with great careers that pay living wages in a growing industry.</li>
      </ul>

      <h2>Meet Our Team</h2>
      <p><strong>Chuck Lauer Vose</strong></p>
      <p>bio text here</p>

      <p><strong>Erica Lauer Vose</strong></p>
      <p>bio text here</p>

  .orange
    %section.width
      %h2 Our History
      %p The Portland Code School was founded in September of 2012 in partnership with Burnside Digital. The code school began as an apprentice-type internship program and evolved into a full-fledged code school.
      %p The Portland Code School began as an idea when founder Chuck Lauer Vose realized how huge the demand was for competent programmers in Portland and how few new programmers there were coming from Portland. After teaching a “Rapid Web Development” course at the Portland Art Institute, Chuck realized there is an abyss of misunderstandings, gaps in information, and false starts between beginner tutorials and full-time software development. Too many programmers were getting lost in this abyss. Since Portland is already a top-notch city for developers; Chuck wanted to make it an oasis for newcomers also.
      %p Through collaboration with and help from programmer communities across Portland and beyond, the Portland Code School was born.

  %section.width
    %h2 Special Thanks
    %p
      %strong Omid Rahmat — Burnside Digital
      %br/
      Omid was the first financial backer, and the first business analyst to help us on our path. He was there to give us seed money to get started, and he was there to make sure we were on track to be off of investment funds as soon as possible. And even above that, he's dealt with all the legal paperwork to get the program running to this day.
    %p
      %strong Bill Siebold — Art Institute
      %br/
      Bill has been a constant source of inspiration and sound judgement for us in the formation of the program. His experience in tech education and his drive to see the program succeed has been unendingly inspiring and helpful. He was the initial sounding board, and the voice of reason, when there were so many voices to listen to.
    %p
      %strong Hal Newton — PageMutant / WholeBrain
      %br/
      Hal has been a godsend at the late stages of the first session by helping us coordinate and understand how to talk to CTOs and VPs at organizations that need to find great people. His words of wisdom, his network of peers, and his gentle guidance were brought to bare at exactly the right time.
    %p
      %strong Marc Charbonneau, Patrick Curtain, Victor Christensen — Burnside Digital
      %br/
      Everyone at Burnside Digital was amazing, but these four stepped forward frequently and helped me through jams with either sweat or brainpower. One man can only do so much.
    %p
      %strong Pete Kinnecom, Rachel Sakry, Matt Danskey — Portland Code School
      %br/
      The first group of students, the guinnea pigs. I have no words for the depth of gratitude I have towards this trio and I can't wait to see them flourish in their new careers!
    %hr
    %h2 Dedications
    %p
      %strong Nathan Calies
    %p
      %strong Erica Lauer Vose
    %p
      %strong Dave Shanley, Ben Cullen-Kerney, Kristina Turney, & Kevin Steigerwald — CrowdCompass
    %p
      %strong Lorenzo Ciacci — The Clymb
    %p
      %strong Luc Perkins — AppFog
    %p
      %strong Jewel Mlnarik — Temboo
    %p
      %strong Jade Rubick — New Relic
    %p
      %strong Randall Hansen — Puppet Labs