/ <%
/   @title = "Portland Code School - Applying"
/   @body_id = "apply"
/   @meta_description = "Welcome future student! We're glad that you've made the decision to start learning to program for the web. This program is designed to teach you the essentials quickly and give you the tools and support you need to keep learning and growing as a developer."
/ %>

.page
  %section
    %h2 Applications
    %p Welcome future student! We're glad that you've made the decision to start learning to program for the web. This program is designed to teach you the essentials quickly and give you the tools and support you need to keep learning and growing as a developer.
    %h3 Required Application Materials
    %ul
      %li Resume
      %li Cover Letter which addresses:
      %ul
        %li Your interest in programming
        %li Why you want to be a web developer
        %li Who you are as a person, particularly in the context of a team work-environment
      %li A "Hello World" app in Ruby on Rails committed to Github
    %h3 Optional Additional Materials: Creative Submissions
    %p This is a competetive application process. We strongly encourage all applicants to submit at least two of the three items below:
    %ul
      %li Any portfolio items that show us what you are working on; digital or analog projects are great
      %li Digital evidence of you being awesome. A video of you rapping, a poem about trees, or an animated gif of you doing interpretive dance. The idea is to give us a way to get to know you better as a person.
      %li Community engagement activity including attendance at Ruby Newbies, RailsGirls/RubyNest, the Portland Ruby Brigade, or activity on any related mailing lists or forums
    / <p>You can see some examples of excellent creative submissions <a hreff="*UNICORN SPARKLE* link to a page about submissions"> Here.</a></p>
    %p
      Please send all documents, stories, videos, and digital sculptures to
      %a{:href => "mailto:applications@portlandcodeschool.com"} applications@portlandcodeschool.com

  .tan
    %section
      %h2 Application Process, Dates, & Deadlines
      %p Each session is preceded by a Meet & Greet, an informal get together where you can chat with current students, meet our instructor, and ask all your burning questions.
      %p
        During the weeks preceding the application deadline, we offer application help sessions at the Portland Ruby
        %a{:href => "http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp"} Hack + Help Meetup
      %p Notifications of acceptance will go out at least two weeks prior to the start of the session. Applications are being accepted for 2013 Summer and Fall Sessions, please indicate which session you are applying for.

  %section
    %table
      %tr
        %th
        %th Summer Session 2013
        %th Fall Session 2013
        %th Winter Session 2014
      %tr
        %td Meet & Greet
        %td March 6th
        %td June 26th
        %td September 25th
      %tr
        %td Application Help Sessions
        %td
          %a{:href => "http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp"} Hack + Help Sessions
        %td
          %a{:href => "http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp"} Hack + Help Sessions
        %td
          %a{:href => "http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp"} Hack + Help Sessions
      %tr
        %td Application Deadline
        %td March 29th
        %td July 19th
        %td October 18th
      %tr
        %td Acceptance Notifications
        %td May 17th
        %td August 16th
        %td November 29th
      %tr
        %td Start of Session
        %td June 3rd
        %td September 3rd
        %td January 6th

  .orange
    %section
      %h2 Key Application Criteria
      %p We want to get to know you as a person as well as a programmer. In order to ensure our graduates can succeed in web development careers, we look for evidence that you are well rounded, creative, and are able to engage in the whole programming experience, not just the technical aspects.
      %p When we review your application, we will be looking for evidence that:
      %ul
        %li You are passionate about programming above all other things
        %li You can and want to learn about programming
        %li You can get along with other students and future co-workers
      %p If you have questions about application materials or the application process, send us an email or give us a call!
