- @body_id = "bootcamps"
- @meta_description = "Workshops and bootcamps offer a way to learn if you have a job or other commitments. Apply now for May sessions!"
- @title = "Bootcamps: Learn to Code In May!"
.readable-width
  %h2#top Learn to Code In May!
  %p Portland Code School is offering various short Bootcamps and longer Workshops in May to quickly get you up to speed with current web technologies and methodologies including HTML, CSS, UX, JavaScript and Ruby.
  %p Workshops:
  %ul
    %li
      %a{href: '#workshop-1'} Beginning Web Development Workshop
    %li
      %a{href: '#workshop-2'} Advanced Web Development Workshop

  %p Bootcamps:
  %ul
    %li
      %a{href: '#bootcamp-1'} Introduction to Web Development Bootcamp (April)
    %li
      %a{href: '#bootcamp-2'} Introduction to Web Development Bootcamp (May)
    %li
      %a{href: '#bootcamp-3'} Introduction to Javascript Bootcamp
    %li
      %a{href: '#bootcamp-4'} Introduction to Ruby Bootcamp
    %li
      %a{href: '#bootcamp-5'} UX and CSS Bootcamp

  %hr
  %img{src: "/images/bootcamps/intro-workshop.jpg"}
  %h3#workshop-1 Beginning Web Development Workshop
  %p This two-week intensive workshop is ideal for professionals in non-technical roles who work with computers and want to learn the skills needed to understand how the internet works and advance in their chosen careers.
  %p This is also a great place for beginners planning to launch a career in web development to gain the foundational skills needed to tackle more advanced topics.
  %p We'll start with the fundamentals of making a website and ends with your very own live site. We will cover basic HTML, CSS, hosting, FTP, and domain names.
  %p There will be time from 3pm – 5pm on Sunday to stay later and work with others in the class to complete projects if you wish.
  %p <strong>Pre-requisites</strong>: You will need to bring your own laptop for this workshop.
  %blockquote
    %p Workshop Dates & Times: 5/5/13 - 5/15/13
    %p Sundays; 10 – 3pm (lunch provided on Sundays)
    %p Mondays – Wednesdays: 6 – 9 pm (snacks provided on weeknights)
  %p <strong>Early Bird registration fee</strong>: $1,540
  %p <strong>Early Bird Registration Deadline</strong>: April 19th by 5:00pm
  %p <strong>Late registration fee</strong>: $1,800
  %a{href: "#top"} Return to top
  %a.button{href: "http://portlandcodeschool_beginning_workshop.eventbrite.com/#"} Register Now
  %hr

  %img{src: "/images/bootcamps/advanced-workshop.jpg"}
  %h3#workshop-2 Advanced Web Development Workshop
  %p This two-week intensive workshop covers more advanced web design and development topics to help you create intelligent and engaging web applications. Topics covered include CSS for layout, User Experience Design, JavaScript, Ruby, working with a web development team and version control.
  %p This workshop is for people who have already created static websites or websites in Drupal/Wordpress but want to go farther and create engaging web applications.
  %p There will be time from 3pm – 5pm on Sunday to stay later and work with other in the class to complete projects.
  %p <strong>Pre-requisites</strong>: You will need to bring your own laptop for this bootcamp. Students taking this course should have already taken the Intro workshop or demonstrated their abilities by deploying a hand-made website to a server on the internet.
  %blockquote
    %p Workshop Dates & Times: Sunday – Wednesday 5/19/13 – 5/29/13
    %p Sundays: 10 – 3pm (lunch provided on Sundays)
    %p Mondays – Wednesdays: 6 – 9 pm (Snacks provided on weeknights)
  %p <strong>Early Bird registration fee</strong>: $1,540
  %p <strong>Early Bird Registration Deadline</strong>: May 3rd by 5:00pm
  %p <strong>Late registration fee</strong>: $1,800
  %a{href: "#top"} Return to top
  %a.button{href: "http://portlandcodeschool_advanced_workshop.eventbrite.com/#"} Register Now
  %hr

  %img{src: "/images/bootcamps/intro-bootcamp.png"}
  %h3#bootcamp-1 Introduction to Web Development Bootcamp (April)
  %p This intensive two-day bootcamp is a great place for beginners planning to launch a career in web development to gain the foundational skills needed to tackle more advanced topics.
  %p This is also ideal for professionals in non-technical roles who work with computers and want to learn the skills needed to understand how the internet works and advance in their chosen careers.
  %p We'll start with the fundamentals of making a website and ends with your very own live site. We will cover basic HTML, CSS, hosting, FTP, and domain names.
  %p There will be time from 3pm – 5pm on Saturday to stay later and work with others in the class to complete projects if you wish.
  %p <strong>Pre-requisites</strong>: You will need to bring your own laptop for this bootcamp.
  %p <strong>Dates</strong>: 4/27/13 – 4/28/13
  %p <strong>Times</strong>: 10 – 3pm (lunch provided on Saturday)
  %p <strong>Early Bird registration fee</strong>: $540
  %p <strong>Early Bird Registration Deadline</strong>: April 19th by 5:00pm
  %p <strong>Late registration fee</strong>: $800
  %a{href: "#top"} Return to top
  %a.button{href: "http://portlandcodeschool_intro_bootcamp_april_27-28.eventbrite.com/#"} Register for the April Bootcamp Now
  %hr

  %img{src: "/images/bootcamps/women-bootcamp.png"}
  %h3.women Women Only Bootcamp
  %h3#bootcamp-2 Introduction to Web Development Bootcamp (May)
  %p This intensive two-day bootcamp is a great place for beginners planning to launch a career in web development to gain the foundational skills needed to tackle more advanced topics.
  %p This is also ideal for professionals in non-technical roles who work with computers and want to learn the skills needed to understand how the internet works and advance in their chosen careers.
  %p We'll start with the fundamentals of making a website and ends with your very own live site. We will cover basic HTML, CSS, hosting, FTP, and domain names.
  %p There will be time from 3pm – 5pm on Saturday to stay later and work with others in the class to complete projects if you wish.
  %p <strong>Pre-requisites</strong>: You will need to bring your own laptop for this bootcamp.
  %p <strong>Dates</strong>: 5/4/13 – 5/5/13 
  %p <strong>Times</strong>: 10 – 3pm (lunch provided on Saturday)
  %p <strong>Early Bird registration fee</strong>: $540
  %p <strong>Early Bird Registration Deadline</strong>: April 19th by 5:00pm
  %p <strong>Late registration fee</strong>: $800
  %a{href: "#top"} Return to top
  %a.button{href: "http://portlandcodeschool_intro_bootcamp_may4-5.eventbrite.com/#"} Register for the May Bootcamp Now
  %hr

  %img{src: "/images/bootcamps/js.png"}
  %h3#bootcamp-3 Introduction to JavaScript Bootcamp
  %p This two-day bootcamp is for people who want to spice up their websites with some additional interactivity without resorting to Flash. Introducing JavaScript, which will allow you to make your websites more interactive. We will cover Javascript basics, namespacing and modularization, and using jQuery.
  %p This bootcamp is ideal for people who have been dabbling with PHP or Rails, or for front-end developers or QA engineers who want to push themselves further in their careers.
  %p There will be time from 3pm – 5pm on Saturday to stay later and work with others in the class to complete projects.
  %p <strong>Pre-requisites</strong>: You will need to bring your own laptop for this bootcamp. Students taking this course should have already taken the Intro workshop or demonstrated their abilities by deploying a hand-made website to a server on the internet.
  %p <strong>Dates</strong>: 5/11/13 & 5/12/13
  %p <strong>Times</strong>: 10 – 3pm (lunch provided)
  %p <strong>Early Bird registration fee</strong>: $540
  %p <strong>Early Bird Registration Deadline</strong>: April 26th by 5:00pm
  %p <strong>Late registration fee</strong>: $800
  %a{href: "#top"} Return to top
  %a.button{href: "http://portlandcodeschool_javascript_bootcamp.eventbrite.com/#"} Register Now
  %hr

  %img{src: "/images/bootcamps/ruby.png"}
  %h3#bootcamp-4 Introduction to Ruby Bootcamp
  %p This two-day bootcamp introducing Ruby is for intermediate learners who have a solid grounding in HTML and CSS but would like to take advantage of dynamic data. We will cover principles of object-oriented programming and making web applications with Sinatra. We will cover Ruby basics and syntax, installation, use, and research of gems, bundler, and code interpolation.
  %p This class will help to demystify the larger frameworks like Rails and prepare you for more advanced projects. It is ideal for people who have been dabbling with PHP or Rails, or for front-end developers or QA engineers who want to push themselves further in their careers.
  %p There will be time from 3pm – 5pm on Saturday to stay later and work with others in the class to complete projects.
  %p <strong>Pre-requisites</strong>: You will need to bring your own laptop for this bootcamp. Students taking this course should have already taken the Intro workshop or demonstrated their abilities by deploying a hand-made website to a server on the internet.
  %p <strong>Dates</strong>: 5/16/13 & 5/18/13
  %p <strong>Times</strong>: Thursday 5 – 9pm & Saturday 10 – 3pm (lunch provided on Saturday)
  %p <strong>Early Bird registration fee</strong>: $540
  %p <strong>Early Bird Registration Deadline</strong>: April 26th by 5:00pm
  %p <strong>Late registration fee</strong>: $800
  %a{href: "#top"} Return to top
  %a.button{href: "http://portlandcodeschool_ruby_bootcamp.eventbrite.com/#"} Register Now
  %hr

  %img{src: "/images/bootcamps/css3.png"}
  %h3#bootcamp-5 UX and CSS Bootcamp
  %p This two-day bootcamp introduces User Experience Design and using CSS3 to create engaging web layouts. We will cover the essential tenants of UX, some of the new properties in CSS3 and HTML5, Polyfills, and how to research which new parts of HTML5/CSS3 are stable and ready to be used now.
  %p This class is for students who have already published several websites but are unsatisfied with using someone else’s theme or just want more control over the visual aspects of the web. This class is also great for backend developers who would like to get a handle on CSS to push themselves further in their careers.
  %p There will be time from 3pm – 5pm on Saturday to stay later and work with other in the class to complete projects.
  %p <strong>Pre-requisites</strong>: You will need to bring your own laptop for this bootcamp. Students taking this course should have already taken the Intro workshop or demonstrated their abilities by deploying a hand-made website to a server on the internet.
  %p <strong>Dates</strong>: 5/30/13 & 6/1/13
  %p <strong>Times</strong>: Thursday 5 – 9pm & Saturday 10 – 3pm (lunch provided on Saturday)
  %p <strong>Early Bird registration fee</strong>: $540
  %p <strong>Early Bird Registration Deadline</strong>: May 10th by 5:00pm
  %p <strong>Late registration fee</strong>: $800
  %a{href: "#top"} Return to top
  %a.button{href: "http://portlandcodeschool_ux_css_bootcamp.eventbrite.com/#"} Register Now
