- @title = "Portland Code School - Community"
- @body_id = "community"
- @meta_description = "Because learning happens inside and outside the classroom and because we love the vibrant, energetic, exciting community life that makes Portland such a special place, the Portland Code School supports and participates in community groups, meet-ups, and hacker groups all over Portland."

.page
  %section.width
    %h2 Community Engagement
    %p Because learning happens inside and outside the classroom and because we love the vibrant, energetic, exciting community life that makes Portland such a special place, the Portland Code School supports and participates in community groups, meet-ups, and hacker groups all over Portland.
    %p You will find our students out and about in the community attending, organizing, and volunteering for meet-ups, networking events, workshops, talks, and socials.

  .orange
    %section.width
      %h2 Growing the learner community in Portland
      %p
        The Portland Code School is also involved in organizing
        %strong Hack+Help
        a meet-up for newcomers to Ruby and/or web development as well as experienced programmers. Participants can find their peer learning groups to hack on projects together and help each other out if anyone gets stuck. New aspiring programmers are encouraged to come and find a Portland Code School student to talk with and get excellent beginner help.
      .call-to-action
        %a.button{:href => "http://calagator.org/events/search?utf8=%E2%9C%93&query=hack+%2B+help"} Click here to learn about the next Hack+Help session.

  %section.width
    %h2 Our Community Partners
    %p
      We welcome new partnerships and opportunities to support community groups! If you have a community group and are interested in partnering with the Portland Code School, please contact us at
      %a{:href => "mailto:community@portlandcodeschool.com"} community@portlandcodeschool.com

      .partner
        %a{:href => "http://codescouts.org/index.html"}
          %img#code-scouts{:src => "/images/partner_company_logos/community/code_scouts_100x100.png"}/
        %h3
          %a{:href => "http://codescouts.org/index.html"} Code Scouts
        %p Learning technical skills and joining the community alone is daunting. We empower members to take advantage of learning resources by bringing them together, in person, in a welcoming and supportive environment.

      .partner
        %a{:href => "http://railsgirls.com/"}
          %img{:src => "/images/partner_company_logos/community/railsgirls_100x100.png"}/
        %h3
          %a{:href => "http://railsgirls.com/"} Rails Girls
        %p Our aim is to give tools and a community for women to understand technology and to build their ideas. We do this by providing a great experience on building things and by making technology more approachable.

      .partner
        %a{:href => "http://pdxruby.org/"}
          %img{:src => "/images/partner_company_logos/community/pdx.rb_100x100.jpg"}/
        %h3
          %a{:href => "http://pdxruby.org/"} Portland Ruby Brigade
        %p The Portland Ruby Brigade, also known as pdxruby and pdx.rb, is a user group for Ruby programmers in the Portland, Oregon area. The group welcomes all programmers interested in the language and its implementations, tools, libraries and frameworks, such as Ruby on Rails. The group has been meeting since August 2002 for presentations, demos and discussions applicable to all skill levels, from newbies and experts. Every month 35-75 people come together to share their knowledge, projects and enthusiasm for Ruby — join us!

      .partner
        %a{:href => "https://peepcode.com/"}
          %img{:src => "/images/partner_company_logos/community/peepcode_100x100.png"}/
        %h3
          %a{:href => "https://peepcode.com/"} PeepCode - Screencasts
        %p PeepCode specializes in screencast tutorials for professional web developers and designers. Learn advanced Ruby, JavaScript, Ruby on Rails, Node, Git, Design, and connect with developers you admire in our popular Play by Play series.

      .partner
        %h3
          %a{:href => "http://www.meetup.com/rubynest/"} Ruby Nest
        %p This group is a continuation and natural expression of the Rails Girls workshop, where average women have an avenue into the programming world by learning Ruby on Rails, and other technologies. No experience necessary.

      .partner
        %h3
          %a{:href => "http://www.meetup.com/PDX-Tech-Pong/"} Tech+Pong
        %p At PDX Tech+Pong, we believe that the conversations sparked over a (sometimes) friendly game of ping- pong can lead to amazing things. We want to be a catalyst in the PDX tech community that facilitates these conversations within a social environment. Welcome to PDX Tech+Pong.
      / %h3
      /   %a{:href => "http://www.techoregon.org/"} Technology Association of Portland
      / %p
      /   The Technology Association of Oregon is dedicated to bringing together some of the brightest minds in the technology industry. The largest professional technology association in the Northwest, the TAO is comprised of over 350 companies in Oregon and SW Washington that are involved or affiliated with the software and technology industries.
      / %h3
      /   %a{:href => "http://www.pyladies.com/"} PyLadies
      / %p
      /   We are an international mentorship group with a focus on helping more women become active participants and leaders in the Python open-source community. Our mission is to promote, educate and advance a diverse Python community through outreach, education, conferences, events and social gatherings.
      / %h3
      /   %a{:href => "http://www.chicktech.org/"} ChickTech
      / %p
      /   ChickTech is dedicated to retaining women in the technology workforce and increasing the number of girls pursuing technology-based careers by facilitating hands-on technology-centric events to empower, support, and increase the confidence of women and girls.  Through our events, we build community, empower participants to see themselves as leaders, and provide networking and mentoring opportunities in the rapidly growing high tech industry.
      / %h3
      /   %a{:href => "http://www.nten.org/"} NTEN
      / %p
      /   A community transforming technology into social change.  NTEN is the membership organization of nonprofit professionals who put technology to use for their causes. NTEN helps you do your job better, so you can make the world a better place.

