/ <%
/   @title = "Portland Code School - Program Overview"
/   @body_id = "program"
/   @meta_description = "The Portland Code School runs three 12-week sessions each year. The total cost is $7500 and is refundable if you're placed with an employer in the employer network."
/ %>
.page
  %section
    %h2 Program Overview
    %p The Portland Code School runs three 12-week sessions each year. The application process is competitive and students are selected based on their passion for programming, their strong communication skills, and their ability to work as part of a team.

    %h3 Class Structure
    %p Class structure and lessons follow agile methodologies; we hold a standup meeting each day to recognize what everyone is doing, we demo weekly, and we hold a planning and a retrospective meeting each week.
    %p The program is organized around four key concepts essential to being a successful web developer:
    %ul
      %li Web skills
      %li Programming skills
      %li Hands-on Experience
      %li Networking and Community Engagement
  
    %h3 After Graduation
    %p We strongly believe that education doesn't end when the program does. We maintain a post-graduation mailing-list and chatroom as well as opportunities to connect with programmer networks, workshops, and professional development opportunities.

  .tan
    %section
      %h2 Tuition & Fees
      %p
        %strong Total cost per student: $7,500
      %p
        %strong A Non-refundable deposit is due upon acceptance to the program: $1,000
      %p
        %strong The remaining $6,500 is due 21 days after the start of the session.
      %p
        %strong Tuition Refund:
        If you accept a full-time job offer from one of the companies in our network they pay a placement fee that comes to you as a 100% tuition refund.
      %p If paying the full amount upfront presents a significant financial barrier to you, please contact us to discuss other options.
  
  %section
    %h2 Session Dates
  %table
    %tr
      %th
      %th Summer Session 2013
      %th Fall Session 2013
      %th Winter Session 2014
    %tr
      %td Meet & Greet
      %td March 6th
      %td June 26th
      %td September 25th
    %tr
      %td Application Help Meetup</td>
      %td
        %a{:href => "http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp"} Hack + Help Meetup
      %td
        %a{:href => "http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp"} Hack + Help Meetup
      %td
        %a{:href => "http://calagator.org/events/search?utf8=%E2%9C%93&query=hack%2Bhelp"} Hack + Help Meetup
    %tr
      %td Application Deadline
      %td March 29th
      %td July 19th
      %td October 18th
    %tr
      %td Acceptance Notifications
      %td May 17th
      %td August 16th
      %td November 29th
    %tr
      %td Start of Session
      %td June 3rd
      %td September 3rd
      %td January 6th

  %section
    %h2 What You Will Learn
    
    %h3 Web Skills
    %ul
      %li HTML, CSS, JS, Forms
      %li SQL, Databases, Relationships, Alternate ORMs, NoSQL databases
      %li Routing, Layout engines, ‪‪Sinatra and Rails
      %li CSS3/HTML5 elements, AJAX, Bootstrap, Grid layouts‬, Typography, Backbone and Ember
      %li Deployment, AWS services, YSlow‬, Asset compilation and compression
      %li Various gems and libraries
    
    %h3 Programming Skills
    %ul
      %li Ruby basics, data structures, rvm/rbenv, Git/Github 
      %li Creating gems, classes and objects, meta-programming, common ruby idioms, programming patterns
      %li Blocks/closures, queues, project estimation, regexes, OOP, Data modeling, refactoring
      %li MongoDB, Memcached, Redis, concurrency, *nix systems
      %li Pull requests, agile methods

    %h3 Gain Real World Experience
    %ul
      %li Open Source Contributions: make contributions to major open source projects
      %li Client and Project Work: collaborate with a development team on a client project
      %li Professional Development & Networking: attend programmer meet-ups, networking events, and participate in professional programmer communities
