/ <%
/   @title = "Portland Code School - Students"
/   @body_id = "students"
/ %>
.page
  .wrapper
    #alumni.full-width
      %h2 Current Students
      .first
        %img{:src => "/images/danskey.jpg"}/
        %h3 Matthew Danskey
        %p Matt comes to us straight from college where he split his studies between computer science and psychology. These two fields share more than you might think and we often find that it's hard to tell which domain his solutions come from; but no matter what they're always effective. He is whip smart and eager to pick up new technologies.
      
        %img{:src => "/images/kinnecom.jpg"}/
        %h3 Pete Kinnecom
        %p Pete holds two masters degrees in both Mathematics and Teaching and has been an invaluable ally in the creation of the program. He is always willing to speak up about what he's interested in learning next and brings a thoughtful approach to programming that is absolutely necessary to become a great programmer. He also makes great backgrounds.
      .last
        %img{:src => "/images/sakry.jpg"}/
        %h3 Rachel Sakry
        %p
          Rachel has always loved making things and collaborating with people. Before delving into computer programming, she spent much of her life creating music and sound for theater. These days, you can find her learning and helping others learn at
          %a{:href => "http://pdxruby.org/learn"} Ruby Beginners
          meetups, and volunteering at events like
          %a{:href => "http://barcampportland.org/"} BarCamp
          and
          %a{:href => "http://opensourcebridge.org/"} Open Source Bridge
          Rachel is honored and thrilled to be part of the first iteration of Portland Code School.