//Variables
//$main-bg-color: #FFF;
// I demand a pancake
// $text-color: #594F4F;
// $bg-color: #E5FCC2;
// $link-color: #45ADA8;
// $title-color: #547980;
// $highlight-color: #9DE0AD;
// I love you
// $text-color: #594F4F;
// $bg-color: #009989;
// $link-color: #EDB92E;
// $title-color: #CE1836;
// $highlight-color: #EDB92E;


//Temporary Site Update
$main-bg-color: #FFF;
$text-color: #594F4F;
$bg-color: #AA9E84;
$link-color: #E25B29;
$title-color: #16354A;
$highlight-color: #E25B29;