//Variables

//Temporary Site Update
$main-bg-color: #FFF;
$text-color: #594F4F;
$orange: #E25B29;
$tan: #AA9E84;
$blue: #16354A;



$bg-color: #AA9E84;
$link-color: #E25B29;
$title-color: #16354A;
$highlight-color: #E25B29;